{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="fighterListTitle">Fighters List</h1>
    <main class="card-deck">
        {% for fighter in fighters %}
            <figure class="card-fighter">
                <h2 class="card-fighter-name">{{fighter.name}}</h2>
                <img
                class="card-img"
                src="/assets/images/{{fighter.name|lower}}.png"
                alt="{{fighter.name}} photo"
                />
                <figcaption class="card-caption">
                    <ul class="card-fighter-skills">
                        <li>🥊{{fighter.attack}}</li>
                        <li>🛡️{{fighter.defense}}</li>
                        <li>❤️100</li>
                    </ul>
                </figcaption>
            </figure>
        {% endfor %}
    </main>
    {% include '/Item/return.html.twig'%}
{% endblock %}
