{% extends 'layout.html.twig' %}

{% block content %}
<main class='attackPage'>
    <p class='roundTitle'>Round {{round}}</p>
<section class='players'>
    <div class='player'>
        <img src="/assets/images/{{player1.name|lower}}.png" class ="playerImage">
        <p class='statsPlayer'> {{player1.name}} <br>❤ {{player1.life}}  <br>Atk: {{player1.attack}}<br>Def: {{player1.defense}}
        </p>
    </div>
    <div class='player'>VS</div>
    <div class='player'>
        <img src="/assets/images/{{player2.name|lower}}.png" class ="playerImage">
        <p class='statsPlayer'> {{player2.name}} <br>❤ {{player2.life}}  <br>Atk: {{player2.attack}}<br>Def: {{player2.defense}}
        </p>
    </div>
</section>
<div class="display">
    <p>{{currentAttacker.name}} attacks {{adversary.name}}</p>
    <p>{{currentAttacker.name}} does {{damage}} damage</p>
    {% if damage == 20 %}
       <p>{{ random(['Perfect !', 'It\'s a 10/10', 'It\'s amazing !', 'Discombobulated !'])}}</p>
    {% elseif damage > 10 %}
    <p> {{ random(['A real punch in the face !', 'It\'s a real damage !', 'Wow ! You\'ve improved a lot, fighter !'])}} </p>
    {% elseif damage > 0 %}
    <p> {{ random(['You could have made an effort !', 'You can do better !', 'Do you have paper gloves or something ?', 'Come On !']) }} </p>
    {% else %}
     <p> {{ random(['He would never hurt anyone with this punch !', 'Great defense !', 'Strike faster if you want to hit me !', 'Wake up, you look like a child !', 'Nice dodge !']) }} </p>
    {% endif %}
    <p>{{adversary.name}} has {{adversary.life}} life left</p>
</div>
    <a class='attackButton' href='/fight/damage'>ATTACK !</a>
</main>
{% endblock %}
