{% extends 'layout.html.twig' %}

{% block content %}
<section class='players'>
    <div class='player'>
        <img src="/assets/images/{{player1.name|lower}}.png" class ="playerImage">
        <p> {{player1.name}} <br>❤ {{player1.life}}  <br>Atk: {{player1.attack}}<br>Def: {{player1.defense}}
        </p>
    </div>
    <div class='player'>
        <img src="/assets/images/{{player2.name|lower}}.png" class ="playerImage">
        <p> {{player2.name}} <br>❤ {{player2.life}}  <br>Atk: {{player2.attack}}<br>Def: {{player2.defense}}
        </p>
    </div>
</section>
<div class="display">
    <p>Round {{round}}</p>
    <p>{{currentAttacker.name}} attacks {{adversary.name}}</p>
    <p>{{currentAttacker.name}} does {{damage}} damage</p>
    {% if damage == 20 %}
       <p>TEST 20</p>
    {% elseif damage > 10 %}
    <p>TEST 19 TO 11</p>
    {% elseif damage > 0 %}
    <p>TEST 10 TO 1</p>
    {% else %}
     <p>TEST 0</p>
    {% endif %}
    <p>{{adversary.name}} has {{adversary.life}} life left</p>
</div>
</div>
<div class='attackButton'>
    <a href='/fight/damage'>ATTACK !</a>
</div>
{% endblock %}
