{% extends 'layout.html.twig' %}
{% block title %}{{player1.name|upper}} VS {{player2.name|upper}}{% endblock %}
{% block content %}
<main class='attackPage'>
{% include '/Item/helpButton.html.twig'%}

<div class="arena">
    <div class='players'>
        <figure class='player'>
            <figcaption class="playerHeader">
                <p class='statsPlayer'> {{player1.name}}</p>
                <progress class='lifeBar' max="100" value="{{player1.life}}"></progress>
            </figcaption>
            <img src="/assets/images/{{player1.name|lower}}.svg" class ="playerImage">
        </figure>
        <figure class='player'>
            <figcaption class="playerHeader">
                <p class='statsPlayer'> {{player2.name}}</p>
                <progress class='lifeBar' max="100" value="{{player2.life}}"></progress>
            </figcaption>
            <img src="/assets/images/{{player2.name|lower}}.svg" class ="playerImage">
        </figure>
    </div>
        {% if currentAttack == 'default' %}
        <p class="turnIndication">Round {{round}} | {{player1.name}}'s turn</p>
        {% else %}
        <p class="turnIndication">Round {{round}} | {{adversary.name}}'s turn</p>
        {% endif %}
</div>
    <div class="display">
        {% if currentAttack == 'default' %}
            <p class="actionDone">{{currentAttacker.name}} It's time to fight !</p>
            <p> Choose your attack below !</p>
        {% elseif currentAttack == 'teatime' %}
            <p class="actionDone">{{currentAttacker.name}} drinks a cup of tea</p>
            <p>{{currentAttacker.name}} heals for {{heal}} HP</p>
        {% elseif currentAttack == 'headbutt' %}
            <p class="actionDone">{{currentAttacker.name}} headbutts {{adversary.name}}</p>
            <p>{{currentAttacker.name}} deals {{damage}} damage but receives {{recoil}} damage as recoil</p>
        {% else %}
            <p class="actionDone">{{currentAttacker.name}} attacks {{adversary.name}}</p>
            <p>{{currentAttacker.name}} deals {{damage}} damage</p>
        {% endif %}
        {% if (round == 1) and (currentAttacker == player1) %}
            <p>If you have trouble choosing, click on the help icon</p>
        {% elseif currentAttack == 'teatime' %}
            <p>{{ random(['Perfect !', 'Delicious !', 'English tea at its finest !', 'Quite soothing !'])}}</p>
        {% elseif currentAttack == 'headbutt' %}
            <p>{{ random(['Skull Breaker !', 'WHAT A BASH', 'Didn\'t see that one coming !', 'Just a nosebleed !'])}}</p>
        {% elseif damage == 20 %}
            <p>{{ random(['Perfect !', 'It\'s a 10/10', 'It\'s amazing !', 'Discombobulated !'])}}</p>
        {% elseif damage > 10 %}
            <p>{{ random(['A real punch in the face !', 'Now that\'s a lot of damage !', 'Wow ! You\'ve improved a lot, fighter !', 'AH! Didn\'t see that one coming huh ?'])}}</p>
        {% elseif damage > 0 %}
            <p>{{ random(['You could have tried harder !', 'You can do better !', 'Are you wearing paper gloves or something ?', "Come on !",'Pss, nothing but a light bruise !'])}}</p>
        {% else %}
            <p>{{ random(['You would never hurt anyone with this punch !', 'Great defense !', 'Strike faster if you want to hit me !', 'Wake up, you look like a child !', 'Nice dodge !', 'Can you really call this a punch ?', 'My grandma punches harder !', 'Just like the wind, nothing can hit you !']) }}</p>
        {% endif %}
        {% if currentAttack == 'teatime' %}
            <p>{{currentAttacker.name}} has {{currentAttacker.life}} HP left</p>
        {% else %}
            <p>{{adversary.name}} has {{adversary.life}} HP left</p>
        {% endif %}
    </div>

    {% if adversary.life == 0 %}
        <form class='flex' action='/fight' method='GET'>
             <button class='resultButton attackButton' type='submit' name='winner' value='{{currentAttacker.name}}'>RESULT !</button>
    {% else %}
        <form class="grid" action="/fight" method="GET">
            <button class='attackButton' type="submit" name="attack" value="punch" >PUNCH !</button>
            <button class='attackButton' type="submit" name="attack" value="kick" >KICK !</button>
            <button class='attackButton' type="submit" name="attack" value="headbutt" >HEADBUTT!</button>
            <button class='healButton' type="submit" name="attack" value="teatime" >TEATIME !</button>
    {% endif %}
         </form>
</main>
{% endblock %}
