{% extends 'layout.html.twig' %}

{% block content %}
    <h1>BAKER STREET FIGHTER</h1>

<div>    
<img href='{{playerOne.getImage}}'>
<p>{{playerOne.getName}} </p>
</div>

<div>
<img href='{{playerTwo.getImage}}'>
<p>{{PlayerTwo.getName}}</p>
</div>

{% for playerOne in playerOne and playerTwo in playerTwo %}
    {% if playerOne.isAlive and playerTwo.isAlive %}
        <p>{{ roundA|}}</p>
        <p>{{ roundB|}}</p>
    {% endif %}
    {{ isWinner|}}
{% endfor %}
{% endblock %}