{% extends 'layout.html.twig' %}

{% block content %}
<section class='result'>
    <div class='winner'>
        <img src="{{winner.image}}">
        <p>Winner : {{winner.name}} {{winner.getLife}} ❤</p>
    </div>

    <div class='loser'>
        <img src="{{loser.image}}">
        <p>Loser : {{loser.name}} {{loser.getLife}} ❤</p>
    </div>
    <div class='announce'>
    <p>Won in {{round}} !! Elementary my dear !</p>
    </div>

    <div class='fightReview'>
    <p>
    </div>
</section>

{% endblock %}