{% extends 'layout.html.twig' %}
{% block title %}CHOOSE YOUR FIGHTERS{% endblock %}

{% block content %}
    <section class="card-deck">

        <h1 class="fighterChoiceTitle">CHOOSE YOUR FIGHTERS</h1>

            <form class="pick" method="POST">

                {% for fighter in fighters %}
                    <label for="{{fighter.id}}">
                        <input type="radio" value="{{fighter.id}}" name="selected_fighter" id="{{fighter.id}}" class="selectFighterInput" hidden>
                        
                        <figure class="card-fighter">
                            <h2 class="card-fighter-name">{{fighter.name}}</h2>
                            <img
                            class="card-img"
                            src="/assets/images/{{fighter.name|lower}}.svg"
                            alt="{{fighter.name}} photo"
                            />
                            <figcaption class="card-caption">
                                <ul class="card-fighter-skills">
                                    <li>🥊{{fighter.attack}}</li>
                                    <li>🛡️{{fighter.defense}}</li>
                                    <li>❤️100</li>
                                </ul>
                            </figcaption>
                        </figure>

                    </label>
                {% endfor %}

                <button class="submitSelectedCharacter" type='submit'> NEXT </button>

            </form>

            <div class="marge"></div>

    </section>
{% include '/Item/return.html.twig'%}
{% endblock %}
