{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="fighterChoice">Choose your fighter</h1>
    <section class="card-deck">
        <form class="pick" action="" method="POST">
            {% for fighter in fighters %}
                <label for="{{fighter.id}}">
                    <figure class="card-fighter">
                        <h2 class="card-fighter-name">{{fighter.name}}</h2>
                        <img
                        class="card-img"
                        src="/assets/images/{{fighter.name|lower}}.png"
                        alt="{{fighter.name}} photo"
                        />
                        <figcaption class="card-caption">
                            <p class="card-fighter-skills">Attack : {{fighter.attack}}<br>Defence : {{fighter.defense}}<br>Life : 100</p>
                        </figcaption>
                    </figure>
                </label>
                <input type="radio" value="{{fighter.id}}" name="selected_fighter" id="{{fighter.id}}">
            {% endfor %}
            <button class="submitSelectedCharacter" type='submit'> Choose player 2</button>
        </form>
    </section>
    {% include '/Item/return.html.twig'%}
{% endblock %}
